@charset "utf-8";
/* CSS Document */
.foot{

	height:50px;
	line-height:25px;
	text-align:center;
	width:100%;	
	font-size:13px;
	color:#fff;
	background:#3a416e;
}

.foot span{
	display:block;
}

.foot span a{

	margin:10px;
}
