@charset "utf-8";
/* CSS Document */
.forgetPass{
	border:1px solid #ccc;
	width:1000px;
	margin:20px auto;
	min-height:400px;
	background:#efefef;
	border-radius:7px;
	font-family:"Microsoft YaHei UI";
	}
.forgetPass_title{
	height:50px;
	width:800px;
	border-bottom:1px solid #ccc;
	margin:20px auto 0;
	}
.forgetPass_title div{
	text-align:center;
	height:46px;
	line-height:46px;
	border-bottom:4px solid #3a416e;
	width:200px;
	font-size:15px;
	letter-spacing:5px;
	font-weight:400;
	}
.forgetPass_input{
	border:1px solid #bbb;
	border-radius:7px;
	padding-left:20px;
	height:30px;
	line-height:30px;
	width:200px;
	}
.forgetPass tr{
	line-height:35px;
	height:60px;
	
	}
.forgetPass td{
	min-width:130px;
	}
.forgetPass table{
	width:330px;
	margin:30px auto;
	}
.forgetPass_frim{
	background:#3a416e;
	border:none;
	color:#fff;
	text-align:center;
	border-radius:7px;
	font-size:14px;
	letter-spacing:5px;
	height:30px;
	line-height:30px;
	width:100%;
	}
